body {
  margin: 0;
  font-family: arial;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-list {
  align-items: center;
  border: 2px solid;
  padding: 20px;
  width: 400px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px;
  background-color: hsla(0, 0%, 50%, 0.233);
  display: flex;
  flex-direction: column;
}

#remove {
  margin-left: 4px;
}

#input {
  font-size: 1.5rem;
  border-radius: 5px;
}

#add-button {
  font-size: 1.5rem;
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(120, 93%, 59%);
  color: hsl(0, 0%, 100%);
  margin-top: 5px;
  cursor: pointer;
}

#add-button:hover {
  background-color: hsl(120, 93%, 49%);
  transition: 0.5s ease-in;
}

#add-button:active {
  background-color: hsl(120, 93%, 39%);
}

ul {
  list-style-type: none;
}

ul li {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

ul button {
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  background-color: hsl(0, 100%, 50%);
  color: hsl(0, 0%, 100%);
  /* margin-left: 10px; */
}

ul button:hover {
  background-color: hsl(0, 100%, 40%);
  transition: 0.5s ease-in;
}

ul button:active {
  background-color: hsl(0, 100%, 30%);
}
